/* --------------RESET---------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





h1{
    margin: 20px;
    text-align: center;
}

h2{
    margin: 40px;
}

.necesita{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

 div input{
    height: 20px;
    width: 300px;
}

.input{
    margin: 50px;
}